/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* NAVBAR */
.navbar {
  background:darkred;
  padding: 15px 0;
  position: sticky;
  top: 0;
}

.logo {
  color: white;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: turquoise;
}

/* HERO */
.hero {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1681567604770-0dc826c870ae?q=80&w=600&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  /* background-image: url("https://unsplash.com/photos/a-person-cutting-a-pizza-with-a-knife-and-fork-JBWFTMjKgfM"); */
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 64px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}

/* BUTTON */
.cta-button {
  padding: 12px 30px;
  background: green;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.cta-button:hover {
  background: green;
}

/* MENU */
.menu {
  padding: 80px 0;
  text-align: center;
  background: #f4f4f4;
}

.about-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: center;
}

.about img {
  width: 100%;
  border-radius: 50%;
}

/* CONTACT */
.contact {
  background: #111;
  color: white;
  padding: 80px 0;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

/* FOOTER */
.footer {
  background: black;
  color: #777;
  text-align: left;
  padding: 20px;
}
